*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 80px;
    text-align: center;
    padding: 50vh 0;
}

.container1{
    background-color: blue;
    height: 100vh;
}

.container2{
    background-color: orange;
}

